/********************************************************* Cards */



/********************************************************* Tabs */
.menu-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  position: relative;
  &__items {
    display: flex;
    overflow-x: auto;
    a {
      padding: 0 20px 16px;
      display: flex;
      white-space: nowrap;
      align-items: center;
      text-decoration: none;
      position: relative;
      transition: all .3s ease-in-out;

      span {
        &:first-child {
          margin-right: 16px;
        }
      }

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: #EEEEEE;
        display: block;
        height: 3px;
        transition: all .3s ease-in-out;
      }

      &.is-selected {
        &:after {
          background: url('../img/button-bg.png') no-repeat;
          background-size: cover;
        }
      }

      svg {
        path,
        rect {
          transition: all .3s ease-in-out;
        }
      }

      &:hover {
        color: $color_gold;
        svg {
          path,
          rect {
            fill: $color_gold;
          }
        }
      }
    }
  }
  &__prev {
    margin-right: 60px;
    margin-top: 16px;

    @media (max-width: 992px) {
      display: none;
    }
  }
  &__next {
    margin-left: 60px;
    margin-top: 16px;

    @media (max-width: 992px) {
      display: none;
    }
  }

  &__prev,
  &__next {
    font-size: 0;
    padding: 0 4px;
    cursor: pointer;
    z-index: 10;
    svg rect,
    svg {
      transition: all .3s ease-in-out;
    }
    &.is-disabled,
    &.swiper-button-disabled {
      opacity: .3;
    }
    &:hover:not(.swiper-button-disabled) {
      svg {
        rect {
          fill: $color_gold;
        }
      }
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 60px;
    background: rgb(255,255,255);
    background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    z-index: 1;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 60px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    z-index: 1;
  }

}

.tab-content {
  &:not(.is-selected) {
    display: none;
  }
}

.card {
  background: #FFFFFF;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);

  &:hover {
    .card-info__btn {
      opacity: 1;
    }
    .card-info {
      top: -72px;
      overflow: inherit;
    }
  }
}

.menu-swiper-wrap {
  padding: 30px 35px;
  position: relative;

  .swiper-arrow-prev {
    position: absolute;
    top: 50%;
    left: 0;
  }
  .swiper-arrow-next {
    position: absolute;
    top: 50%;
    right: 0;
  }
}

.card-info {
  padding: 40px 30px;
  position: relative;
  z-index: 2;
  background: #fff;
  top: -3px;
  height: 268px;
  overflow: hidden;
  transition: all .3s ease-in-out;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: url('../img/button-bg.png') no-repeat;
    background-size: cover;
    z-index: 3;
  }

  &__title {
    font-family: $font_ptSerif;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 25px;
    height: 47px;
    overflow: hidden;
    a {
      text-decoration: none;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 14px;
    height: 76px;
    overflow: hidden;
    margin-bottom: 20px;
  }

  &__price {
    font-family: $font_ptSerif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;

    span {
      font-family: $font_manrope;
      font-weight: 500;
      font-size: 14px;
      padding-left: 20px;
    }
  }

  &__btn {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: all 1.5s ease;
  }
}

.card-img {
  position: relative;
  z-index: 1;
  font-size: 0;
  line-height: 1;
  img {
    width: 100%;
  }
}

.card-qty {
  display: flex;
  &__plus,
  &__minus {
    font-weight: 500;
    font-size: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    cursor: pointer;
    background: #EEE;
    width: 37px;
    height: 39px;
    transition: all .3s ease-in-out;

    &:hover {
      opacity: .8;
    }
  }

  &__val {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    background: #EEE;
    width: 37px;
    height: 39px;
    margin: 0 4px;
    font-weight: 500;
    font-size: 18px;
  }
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;

  .card {
    width: calc(100% / 4 - 32px);
    margin: 16px;

    @media (max-width: 992px) {
      width: calc(100% / 2 - 32px);
    }
    @media (max-width: 600px) {
      width: calc(100% - 32px);
    }
  }
}