.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 1;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: $color_black;
  font-family: $font_manrope;
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all .3s ease-in-out;

  &.btn-main {
    background: url('../img/button-bg.png') no-repeat center;
    background-size: cover;
    padding: 3px;
    span {
      display: flex;
      padding: 12px 40px;
      background: #fff;
      transition: all .3s ease-in-out;
    }

    &:hover {
      padding: 5px;
      span {
        padding: 10px 38px;
      }
    }

    @media (max-width: 992px) {
      span {
        padding: 10px 12px;
      }
      &:hover {
        span {
          padding: 10px 12px;
        }
      }
    }

    &.is-small {
      span {
        padding: 10px 30px;
      }
      &:hover {
        span {
          padding: 8px 28px;
        }
      }
    }
  }

  &.is-disabled {
    opacity: .5;
    pointer-events: none;
  }

  @media (max-width: 992px) {
    font-size: 14px;
  }
}

.btn-link {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-decoration: none;

  &--phone {
    color: $color_black;
    font-size: 16px;
    font-family: $font_manrope;
    font-weight: 400;
    padding-left: 28px;
    background: url('../img/icons/phone.svg') no-repeat left;
    background-size: contain;
    transition: all .3s ease-in-out;

    &:hover {
      color: $color_gold;
    }

    @media (max-width: 992px) {
      font-size: 14px;
    }
  }
}

.more-btn {
  margin: 40px 0;
  text-align: center;
}