@font-face {
	font-family: 'PT Serif';
	src: url('../fonts/PTSerif-Italic.eot');
	src: local('PT Serif Italic'), local('PTSerif-Italic'),
	url('../fonts/PTSerif-Italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PTSerif-Italic.woff') format('woff'),
	url('../fonts/PTSerif-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'PT Serif';
	src: url('../fonts/PTSerif-Bold.eot');
	src: local('PT Serif Bold'), local('PTSerif-Bold'),
	url('../fonts/PTSerif-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PTSerif-Bold.woff') format('woff'),
	url('../fonts/PTSerif-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PT Serif';
	src: url('../fonts/PTSerif-BoldItalic.eot');
	src: local('PT Serif Bold Italic'), local('PTSerif-BoldItalic'),
	url('../fonts/PTSerif-BoldItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PTSerif-BoldItalic.woff') format('woff'),
	url('../fonts/PTSerif-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'PT Serif';
	src: url('../fonts/PTSerif-Regular.eot');
	src: local('PT Serif'), local('PTSerif-Regular'),
	url('../fonts/PTSerif-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PTSerif-Regular.woff') format('woff'),
	url('../fonts/PTSerif-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

